body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    position: relative;
}

.banner {
    text-align: center;
    color: #fff;
    animation: shine 4s infinite alternate;
    position: relative;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.banner h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.5em;
}

/* Botão e menu suspenso */
.dropdown {
    position: absolute;
    top: 20px;
    left: 20px;
}

.menu-btn {
    padding: 10px 20px;
    background-color: #ff0080;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.menu-btn:hover {
    background-color: #ff66a3;
}

.menu-list {
    display: none;
    list-style: none;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%; /* Posiciona logo abaixo do botão */
    left: 0;
    z-index: 10;
}

.menu-list.show {
    display: block;
}
.menu-list li {
    margin-bottom: 10px;
}

.menu-list li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.menu-list li a:hover {
    color: #ff0080;
}


.dropdown:hover .menu-list {
    display: block;
}

@keyframes shine {
    0% {
        background-image: linear-gradient(90deg, #000, #000);
    }
    100% {
        background-image: linear-gradient(90deg, #eee9e9, #ff0080, #b60909,  #CDAA30,  #000);
        background-size: 200% 200%;
        background-position: 100%;
    }
}